.THIS .property{
    border-color: red;
    margin-bottom: 0.5em;
}

.THIS progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  height: 20px;
}

.THIS .thead-all-prod{
    position: relative;
    display: block;
    /*background-color: #FAFAF9;*/
    background-color:#1798C1;
    color: white;
}

.THIS .table-all-prod{
    background-color: white;
}

.THIS .tr-all-prod{
    background-color: white;
    border-bottom: 1px solid #DDDBDA;
}

.THIS .td-all-prod{
    text-align: center;
    padding: 3px;
}

.THIS .tbody-all-prod{
    overflow: auto;
    max-height: 300px;
    display: block;
}