.THIS .availability{
   
    
}

.THIS progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
  height: 20px;
}

.THIS thead{
    position: relative;
    display: block;
    background-color: #FAFAF9;
}

.THIS table{
    background-color: white;
}

.THIS tr{
    background-color: white;
    border-bottom: 1px solid #DDDBDA;
}

.THIS td{
    text-align: center;
    padding: 3px;
}

.THIS tbody{
    overflow: auto;
    max-height: 125px;
    display: block;
}