.noDivBounds * {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.sfhtTable table tr, .sfhtTable tr td {
	max-height:200px;
	padding: 0;
	margin: 0;
}
.sfhtHeader {
	position: absolute;
	overflow-x: hidden;
}
.sfhtData {
	overflow-y: auto;
	overflow-x: hidden;
	max-height:200px;
}
.sfhtColumnSelectButton_unPressed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #BDD2FB;
	background-image: url("../images/arrow_right.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	border: 1px solid blue;
	height: 20px;
	max-height:200px;
	cursor: pointer;		
	vertical-align: middle;
}
.sfhtColumnSelectButton_Pressed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;	
	background-color: #BDD2FB;
	background-image: url("../images/arrow_down.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	border: 1px solid blue;
	height: 20px;
	max-height:200px;
	cursor: pointer;
	vertical-align: middle;
}
.sfhtColumnSelect {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	position: absolute;
	z-index: 100;
}

.sfhtColumnSelect ul {
	list-style: none;
	padding: 2px;
	background-color: #CCCCCC;
	
}
.sfhtColumnSelect ul li {
	list-style: none;
	padding: 2px;
}