<apex:page lightningStylesheets="true" standardController="Opportunity" extensions="SL_ManageInventoryController" sidebar="false" showHeader="true" tabStyle="Opportunity">

    <apex:includeScript value="{!URLFOR($Resource.SL_NestedPicklist, 'jquery/jquery.js' )}" />
    <apex:includeScript value="{!URLFOR($Resource.SL_NestedPicklist, 'jquery/jquery-ui.custom.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.SL_NestedPicklist, 'jquery/jquery.cookie.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.SL_NestedPicklist, 'src/jquery.dynatree.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SL_NestedPicklist, 'src/skin-vista/ui.dynatree.css')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.SL_FixedHeaderScrollBar, 'jquery-1.4.2.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.SL_FixedHeaderScrollBar, 'jquery.cookie.pack.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.SL_FixedHeaderScrollBar, 'jquery.dimensions.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.SL_FixedHeaderScrollBar, 'jquery.scrollableFixedHeaderTable.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.SL_FixedHeaderScrollBar, 'scrollableFixedHeaderTable.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.StylesRequiredInInventoryPage, 'stylesRequiredinPage.css')}"/>
    
    <apex:includeScript value="{!URLFOR($Resource.JSRequiredforInventoryMgt, 'JSRequiredforInventoryMgt2.js')}" /> 
    
    <!--form initiates -->
    <apex:form > 
        <script>

        	var SelectedValueIds = ''; 
			var SelectedValueIdsCategory = '';
			var SelectedValueIdsCategoryName = '';
			function searchJS()
			{
				var varStartDate = document.getElementById('{!$Component.SearchFilters.idStartDate}').value;
				var varEndDate = document.getElementById('{!$Component.SearchFilters.idEndDate}').value;
                console.log('SelectedValueIds --> ' + SelectedValueIds);
                console.log('SelectedValueIdsCategory --> ' + SelectedValueIdsCategory);
                console.log('SelectedValueIdsCategoryName --> ' + SelectedValueIdsCategoryName);
				searchAF(varStartDate, varEndDate, SelectedValueIds, SelectedValueIdsCategory, SelectedValueIdsCategoryName);
			}
        </script>
        
         <!-- actionfunction to search products for selected values from tree view rendered="{!if(lstWrapper.size > 0 ,true, false)}"   test,idPgMsg,idPanel2,NoResultsId-->
        <apex:actionFunction name="AddInventory" action="{!AddSelectedRecords}" rerender="test,idPgMsg,idPanel2,NoResultsId" oncomplete="resizeSelectedTable();clearQty();" status="processingImg"/>
 		<apex:actionFunction name="RemoveInventory" action="{!RemoveSelectedRecords}" Oncomplete="resizeSelectedTable();" rerender="idPanel2,blkTable2,idTable2" status="processingImg"/>
 		<apex:actionFunction name="RefreshAvailability"  action="{!refreshAvailability}" rerender="test" status="processingImg"/> 
        <apex:actionFunction name="searchAF" action="{!fetchProducts}" rerender="test,idPgMsg,idPgBlk,idpanel2" status="processingImg" >
            <apex:param name="btn2" value="" assignTo="{!dtStartDate}"/>
            <apex:param name="btn3" value="" assignTo="{!dtEndDate}"/>
            <apex:param name="btn4" value="" assignTo="{!strSelectedValuesProperty}"/>
            <apex:param name="btn5" value="" assignTo="{!strSelectedValuesCategory}"/>
            <apex:param name="btn6" value="" assignTo="{!strSelectedValuesCategoryName}"/>
        </apex:actionFunction>
        
        <!--assign grandtotal to a variable to update it in Opportunity -->
        <apex:actionFunction name="renderGranTotal" rerender="dummyPanel">
            <apex:param name="grandTotal" value="" assignTo="{!dblGrandTotal}" />
        </apex:actionFunction>
        
        <apex:actionfunction name="showOLIDetails" rerender="hoverPanel">
        </apex:actionfunction>
        
        <apex:outputPanel id="dummyPanel"/>
        
        <!-- processing image -->
        <apex:actionstatus id="processingImg" startText="Requesting...">
         <apex:facet name="start">
            <div id="salesforceSource_blurybackground" style="position:absolute; left:1px; top:1px; width:100%; height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.3;filter:alpha(opacity=40)"></div>
            <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 80%; display: ''; ">
                <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
                <table align="center" valign="top" style="width: 100%; height: 30%">
                <tr align="center" valign="top" style="width: 100%; height: 30%">
                    <td valign="top"><img src="/img/loading.gif"/><span class="waitingDescription">Loading...</span></td>
                </tr>
                </table>
                </div>
            </div>
            <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "> </div>
            <script>document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);</script>
         </apex:facet>
         <apex:facet name="stop"></apex:facet>
      </apex:actionstatus>
  
		<table width="100%;">
			<tr width="100%">
  	   			<td width="100%">
				   <apex:pageBlock id="SearchFilters"> 
			            <apex:facet name="header">				
							<table width="100%">
								<tr>
									<td align="left" width="50%">
										<b>Add Products to {!objOpportunity.Name} </b>
									</td>
									<td align="right" width="50%">
										<!--<apex:commandLink value="Back to Opportunity" action="{!redirectLinkToOpportunity}" style="color:#3399FF;"/>-->
										<a href="/{!objOpportunity.Id}" style="color:#3399FF;">Back to Opportunity</a>
									</td>
								</tr>
							</table>
						</apex:facet>
						
						<table width="100%;">
			                <tr>
			                    <td>    
			                        <b>
			                            <label for="idStartDateLabel">
			                                        Start Date
			                            </label>
			                        </b>
			                        <apex:inputField id="idStartDate" value="{!objOpportunity.Commencement_Date__c}" onclick="storePreviousDateValue(this.id);" onchange="validateDatesOnOpportunity(this.id,'{!$Component.idEndDate}', '{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}','StartDate')"/>
			                    </td>
			                    <td>
			                        <b>
			                            <label for="idEndDateLabel">
			                                        End Date
			                            </label>
			                        </b>
			                        <apex:inputField id="idEndDate" value="{!objOpportunity.Expiration_Date__c}" onclick="storePreviousDateValue(this.id);" onchange="validateDatesOnOpportunity('{!$Component.idStartDate}', this.id, '{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}','EndDate')"/>
			                    </td>
			                    <td>
									<input type="button" class="btn" value="Search" onclick="return searchJS();" />
			                    </td>
			                </tr>
			            </table> 			
			        </apex:pageBlock> 
        		</td>
			</tr>
		        
	        <tr width="100%">
	        	<td width="100%"> 
			        <!--tree view for property -->
			        <apex:outputPanel id="sidebar1" style="width:100%;height:20%;" >
			            <table class="detalList"  width="100%" height="20%">
			                <tr style="height:20%">
			                    <td style="width: 40px;vertical-align: top;height:20%;">
			                        <div style="width:250px;height:20%;">
			                            <apex:pageBlock title="Property">
			                                <a href="#" id="btnExpandAllProperty" style="padding-left:70px;color:#3399FF;">Expand</a> /
			                                <a href="#" id="btnCollapseAllProperty" style="color:#3399FF;">Collapse</a>
			                                <apex:pageBlocksection columns="2">
			                                    <apex:pageBlocksectionItem >
			                                        <div id="tree1" style="width: 100%; border:1px;max-height:20%;background-color:rgb(74, 74, 86);color:rgb(74, 74, 86);"></div>
			                                    </apex:pageBlocksectionItem>
			                                </apex:pageBlocksection>
			                            </apex:pageBlock>
			                        </div>
			                    </td>
			                    <td/>
			                    
			                    <td style="vertical-align: top; width:100%;" >
			                        <div >
			                            <apex:outputpanel id="test" >
			                                <apex:pageBlock title="Results" id="idPgBlkProducts" >
			                                    <!-- display error messages -->
			                                    <apex:pageblockbuttons location="top">	
			                                    	<apex:commandButton value="Add Qty Inventory" rendered="{!if(lstWrapper.size > 0 ,true, false)}" onclick="javascript:return validateQtyWhileAddingToInventory();"  rerender="idPgMsg,idPanel2,NoResultsId"/><!-- rerender="idPgMsg,idPanel2,NoResultsId" -->
			                                    </apex:pageblockbuttons>	
			                                    <apex:pageMessages id="idPgMsg"/>                                                               
			                                    <script type="text/javascript">
			                                    	if('{!!isLoad}' == 'true')
														document.getElementById('{!$Component.idPgBlkProducts.blkTable}').style.display = 'table';
														document.getElementById('{!$Component.idPgBlkProducts.blkTable}').style.width = '100%';
														$jq(document).ready(function(){
														var windowWidth = $(window).width() * 0.74;
														//alert('Window Width : ' + windowWidth);
														$jq('#myTable1').scrollableFixedHeaderTable(windowWidth, '100%');
														
													});
			                                        
			                                        
			                                        var isSiteMoreThenZero = function(productId, currentObject) 
			                                        {                                        
			                                            var root = productId;
			                                            showHover(root, currentObject);
			                                        } 
			                                        
			                                        var showHover = function(root, currentObject) 
			                                        {
			                                        	for(var i= 0; i < arrHoverOver.length; i++)
			                                        	{
			                                        		if(arrHoverOver[i] != root)
			                                        			document.getElementById(arrHoverOver[i]).style.display = 'none';
			                                        	}
			                                        	
			                                            $('#' + root).css('height','auto');
			                                            var p = $(currentObject).offset();
			                                            var elem = document.getElementById(root);
			                                            if(elem.innerHTML.trim().indexOf('This Product is not related to any Opportunity') != -1)
			                                            	$('#' + root).css('left',(p.left + currentObject.offsetWidth - 20) + "px");
			                                            else
			                                                $('#' + root).css('left',(p.left + currentObject.offsetWidth - 350) + "px");
			                                            $('#' + root).css('top',(p.top - 130) + "px");
			                                            $('#' + root).fadeIn(100);
			                                        }
			                                       
			                                        var hideHover = function(productId) 
			                                        {
			                                           	$('#' + productId).hide().fadeOut(100);
			                                        }
			                                    </script>
			                                    <apex:outputPanel id="NoResultsId" rendered="{!AND(lstWrapper.size ==0, !isLoad)}">
			                                        <b><apex:outputText value="No Results found"/></b>
			                                    </apex:outputPanel>
			                                    
			                                    <apex:outputPanel id="blkTable" rendered="{!OR(lstWrapper.size > 0, isLoad)}" style="display:none">
			                                    	<script>
			                                    		arrHoverOver = new Array();
			                                    		$('.sfhtTable').css('width', '100%');
			                                    		//$('.shftTable tr td').css({'width', '100%', 'padding-bottom': '5px', 'border-bottom': '0.5px solid ghostwhite'});
			                                    		$('.sfhtData').css('width', '100%');
			                                    		$('.sfhtHeader').css('width', '100%');
			                                    		$('#myTable1').css('width', '100%');
			                                    		$('#myTable1_header .headerRow').width='100%';
			                                    		$('.headerRow').css({
                                                                'padding-bottom' : '10px',
                                                                'background-color' : '#009CDB',
                                                                'color': 'white',
                                                                'font-weight': 'bold'
                                                        });
                                                        $('#myTable1 tr:odd').css('background-color', '#EBF5FB');
                                                        $('#idTable2 tr:odd').css('background-color', '#EBF5FB');
			                                    		//padding-bottom: 10px;height:2em;background-color: white;
			                                    		//alert($('#myTable1_header').css('width'));
			                                    	</script>
			                                    	<!-- changed border to 1 from 0 class="myTable scrollableFixedHeaderTable list" style="overflow:scroll"-->
				                                    <table id="myTable1" class="scrollableFixedHeaderTable" border="0" cellpadding="0" cellspacing="0" width="100%" height="20%" max-height="300px" >
				                                            <thead>
				                                                <tr class="headerRow">
				                                                    <td class="noRowsHeader" width="50px;">Qty</td>
				                                                    <td class="noRowsHeader" width="50px;">Inventory Availability</td>
				                                                    <apex:repeat value="{!$ObjectType.Product2.FieldSets.SL_ManageProductsFields}" var="f" id="idRepeat" >
				                                                        <td class="noRowsHeader" width="100px;">{!f.label }</td>   
				                                                    </apex:repeat>
				                                                    <td class="noRowsHeader" width="50px;">
				                                                        Availability [<a href="" onclick="javascript: RefreshAvailability();" style="color:#ffcc00;cursor:pointer">Refresh</a>]
				                                                    </td>
				                                                </tr>
				                                            </thead>
				                                            <tbody width="100%">
				                                                <apex:repeat value="{!lstWrapper}" var="res">
				                                                    <tr class="dataRow" height="30px;" >
				                                                        <td style="padding-left:3px;" id="idData">
				                                                            <apex:inputText id="idQuantityResults" value="{!res.intQuantity}" onKeyPress="return isNumberKey(event);" onKeyUp="return validateQuantity(this.id,'{!res.intOLITotalQuantity}');" style="width:50px;padding:0px;"/>
				                                                            <script>
				                                                            var id = document.getElementById('{!$Component.idQuantityResults}');
				                                                            inputId.push(id);
				                                                            </script>
				                                                        </td>
				                                                        <td style="width:50px;">
				                                                        	<!--  <apex:outputText value="{! IF(LEN(MapProductId_InventoryAvailability[res.objProductId]) > 0,MapProductId_InventoryAvailability[res.objProductId],'Unlimited'  )}"/>-->
				                                                        	
				                                                        	<apex:outputText value="{! IF(res.intOLITotalQuantity == -1, 'Unlimited', res.intOLITotalQuantity  )}"/>
				                                                        </td>
				                                                        <apex:repeat value="{!$ObjectType.Product2.FieldSets.SL_ManageProductsFields}" var="f" id="idRepeat" rendered="{!if(lstWrapper.size > 0 , true, false)}">
				                                                        <td style="width:50px">
				                                                            <apex:outputText value="{!res.objSObject[f]}" rendered="{!IF(OR(f.label == 'Property Name', f.label == 'Inventory Name'), false, true)}"/>
				                                                            <apex:outputLink value="/{!res.objSObject['Property__c']}" rendered="{!IF(f.label == 'Property Name', true, false)}">{!res.objSObject['Property__r.Name']}</apex:outputLink>
				                                                            <apex:outputLink value="/{!res.objProductId}" rendered="{!IF(f.label == 'Inventory Name', true, false)}">{!res.objSObject['Name']}</apex:outputLink>
				                                                        </td>
				                                                        </apex:repeat>
				                                                        <td width="50px;">
				                                                        
																			<div id="{!res.objProductId}" style="position:absolute;display:none;z-index:4" >
																			<div id="check1" >
								                                                <apex:pageBlock tabStyle="Opportunity">
								                                                	<apex:facet name="header" >
								                                                		<table width="100%" style="background-color:#ffc;filter:alpha(opacity=60); border: 0;">
								                                                			<tr style="background-color:#ffc">
								                                                				<td width="80%" align="left" style="background-color:#ffc"><b>Related Opportunities</b></td>
								                                                				<td width="20%" align="right" style="background-color:#ffc"><a href="" style="cursor:pointer;" onclick="javascript:hideHover('{!res.objProductId}');"><b>X</b></a></td>
								                                                			</tr>
								                                                		</table>			                                                		
								                                                	</apex:facet>
								                                                	<apex:outputText value="There are no Opportunity related to this Product" rendered="{!if(mapProductId_CountOfOpps[res.objProductId] > 0 , false, true)}"/>
								                                                	<apex:pageBlocktable rendered="{!if(mapProductId_CountOfOpps[res.objProductId] > 0 , true, false)}" value="{!mapProductId_Opportunity[res.objProductId]}" var="varOpportunity" style="border:0">
								                                                		<apex:column headerValue="Name" style="width:15px;">
								                                                			<apex:outputLink target="_blank" style="width:10%;" value="/{!varOpportunity.Id}">{!varOpportunity.Opportunity.Name}</apex:outputLink>
								                                                		</apex:column>
								                                                		<apex:column />
								                                                		<apex:column headerValue="Owner" style="width:10%;">
								                                                			{!varOpportunity.Opportunity.Owner.Name}
								                                                		</apex:column>
								                                                		<apex:column />
								                                                		<apex:column headerValue="Start Date">
								                                                			<apex:outputText value="{0,date,MM/dd/yy}">
																							  <apex:param value="{!varOpportunity.Start_Date__c}"  />
																							</apex:outputText>
								                                                		</apex:column>
								                                                		<apex:column />
								                                                		<apex:column headerValue="End Date" >
								                                                			<apex:outputText value="{0,date,MM/dd/yy}">
																							  <apex:param value="{!varOpportunity.End_Date__c}"  />
																							</apex:outputText>
								                                                		</apex:column>	
								                                                		<apex:column headerValue="Stage" style="width:10%;">
								                                                			{!varOpportunity.Opportunity.StageName}
								                                                		</apex:column>					                                                							                                                		
								                                                	</apex:pageBlocktable>
								                                                </apex:pageBlock>
								                                                </div>
																	         </div>
																	    	<script>
																	    		arrHoverOver.push('{!res.objProductId}');
																	    	</script>
																	    	
																	    	<table>
																		    	<tr>
																			    	<td>
																				    	<img id="idimg" src="{!URLFOR($Resource.SL_RemoteHover)}" onmouseover="isSiteMoreThenZero('{!res.objProductId}', this);" style="cursor:pointer;"/>
																			    		&nbsp;&nbsp;&nbsp;&nbsp;
																			    	</td>
																			    	<td>
							                                                            <!--hover + color codes -->
							                                                            <div id="div2" style="width:180px;" >
							                                                                    <div style="width:150px;">
							                                                                        <div style="float:left;width:100%;background-color:green;height:20px;" >
							                                                                        	<apex:outputPanel rendered="{! IF(res.intOLITotalQuantity == -1, false, true)}">
								                                                                            <div style="float:left;width:{!mapRed[res.objProductId]};background-color:red;height:20px;" ></div>
								                                                                            <div style="float:left;width:{!mapYellow[res.objProductId]};background-color:yellow;height:20px;" ></div>
								                                                                            <div style="float:left;width:{!mapOrange[res.objProductId]};background-color:orange;height:20px;" ></div>
							                                                                            </apex:outputPanel>
							                                                                        </div>
							                                                                    </div> 
							                                                            </div>
						                                                            </td>
					                                                            </tr>
				                                                            </table>
				                                                        </td>
				                                                        
				                                                    </tr>
				                                                </apex:repeat>
				                                                                                              
				                                            </tbody>
				                                        </table>
				                                    </apex:outputPanel> 
			                                </apex:pageBlock>
			                            </apex:outputpanel>
									</div>
			                    </td>
			                </tr>
			            </table>
			        </apex:outputPanel>
		        </td>
	        </tr>
	        <tr width="100%">
	        	<td width="100%">
			        <!--inventory category tree view -->
			        <apex:outputPanel id="sidebar2" style="width:100%;height:30px;"> 
			            <table class="detalList" style="height:350px" id = "divid">
			                <tr>
			                    <td style="width: 40px;vertical-align: top;">
			                        <div style="width:250px;background-color:#C0C0C0;color:#C0C0C0;">
			                            <apex:pageBlock title="Inventory Category">
			                                <a href="#" id="btnExpandAll" style="padding-left:70px;color:#3399FF;">Expand</a> /
			                                <a href="#" id="btnCollapseAll" style="color:#3399FF;">Collapse</a>
			                                <apex:pageBlocksection columns="2">
			                                    <apex:pageBlocksectionItem >
			                                        <div id="tree2" style="border:1px;width:100%;max-height:20%;background-color:rgb(74, 74, 86);color:rgb(74, 74, 86);"></div>
			                                    </apex:pageBlocksectionItem>
			                                </apex:pageBlocksection>
			                            </apex:pageBlock>
			                        </div>
			                    	</td>
			                    <td/>
			                    <td style="width: 90% ;vertical-align: top;">
			                        <div style="height:200px;" id="idDivPanel2">
			                            <apex:outputPanel id="idPanel2">
			                            
			                            
			                            
			                                <apex:pageBlock title="Selected" id="selectedpgId">
			                                    <apex:pageblockbuttons location="top">
			                                    	<apex:commandButton value="Remove Selected" rendered="{!if(lstWrapperSelected.size > 0 ,true, false)}" onclick="javascript:return validateRemoval();" rerender="idPanel2,blkTable2,idTable2" style="align:left;float:left;"/>
			                                        <apex:commandButton value="Add to Opportunity" rendered="{!if(lstWrapperSelected.size > 0 ,true, false)}" style="align:right;" action="{!AddToOpportunity}" rerender="idPgMsg2" status="processingImg"/>
			                                    </apex:pageblockbuttons>
			                                    <apex:outputPanel id="idPgMsg2" >
			                                        <apex:pageMessages rendered="{!showErrorMsg}"/>
			                                    </apex:outputPanel>
			                                     
			                                    <br/>
			                                    
			                                    <script>
				                                    
			                                    	$jq(document).ready(function(){
						                                var windowWidth = $(window).width() * 0.74;
					                                	$jq('#idTable2').scrollableFixedHeaderTable(windowWidth, '175');
						                                
						                            });
						                            $('#idTable2 tr:odd').css('background-color', '#EBF5FB');
						                            $('#idTable2 td').css('max-width', '160px');
						                            $('#idTable2_header .headerRow td').css('width', '160px');
			                                    </script>
			                                    
			                                    <apex:outputPanel id="blkTable2" style="height:25%; max-height:220px;" rendered="{!if(lstWrapperSelected.size > 0 ,true, false)}">
				                                    <table id="idTable2" class="scrollableFixedHeaderTable" border="0" cellpadding="0" cellspacing="0" width="100%;" height="25%;" max-height="220px;" >
				                                            <thead>
				                                                <tr class="headerRow">
				                                                    <td width="30px;">
					                                                    <apex:inputCheckbox id="idParentCheck" value="{!allChecked}" onclick="checkAll(this);"/>
																	</td>
																	<apex:repeat value="{!$ObjectType.Product2.FieldSets.SL_ProductFieldsDispayedInSelectedSectio}" var="f1" id="idRepeat2">
																		<td>
																			<apex:outputText value="{!f1.label}" rendered="{!IF(f1.label == 'Inventory Type', false, true)}"/>
																		</td>
																	</apex:repeat>
																	<td style="width:140px;"> Start Date </td>
																	<td width="140px;"> End Date </td>
																	<td width="25px;"> # Of Days </td>
																	<td width="50px;"> Rate Type </td>
																	<td width="50px;"> Qty </td>
																	<td width="60px;"> Unit Price </td>
																	<td width="250px;" id="totalAmountHeader"> Total Amount </td>
				                                                </tr>
				                                            </thead>
				                                            <script>
				                                                $('#idTable2_header .headerRow td').hide();
				                                                $('#idTable2 td').css({
				                                                    'width': '100px'
				                                                });
				                                                $('#idTable2 span').css({
				                                                    'display': 'inline-block',
				                                                    'width': '100px',
				                                                    'text-align': 'left'
				                                                });
				                                                //$('#idTable2 input[name*='idHdnNumOfDays'] span).css({
				                                               //     'text-align': 'left'
				                                               // });
				                                            </script>
				                                            <tbody width="100%">
				                                                <apex:repeat value="{!lstWrapperSelected}" var="res">
				                                                	<tr class="dataRow" height="30px;" >
					                                                	<td width="30px;">
					                                                		<apex:inputCheckbox id="idCheckbox" value="{!res.isSelected}" onclick="checkArray(this);"/>
					                                                		<script> 
					                                                			function checkArray(checkboxId)
					                                                			{
					                                                				if(checkboxId.checked)
													                                {
													                                	var id = checkboxId;
													                                	arrCheckBox.push(id);
													                                }
													                                else if(!checkboxId.checked)
													                                {
													                                	var idIndex = new Array();
													                                	for(var i=0 ; i < arrCheckBox.length; i++)
													                                	{
													                                		idIndex.push(arrCheckBox[i].id);
													                                		if(idIndex[i].indexOf(checkboxId.id) > -1)
															                                {
															                                	var index = idIndex[i].indexOf(checkboxId.id);
															                                	if (index > -1) 
															                                	{
																								    arrCheckBox.splice(index, 1);
																								}
																							}
																						}
													                                }
												                                }	
											                             	</script>
					                                                	</td> 
					                                                	<apex:repeat value="{!$ObjectType.Product2.FieldSets.SL_ProductFieldsDispayedInSelectedSectio}" var="f1" id="idRepeat2">
						                                                	<td>
																				<apex:outputpanel rendered="{!IF(f1.label == 'Property Name', true, false)}">
																					<a href="/{!res.objSObject['Property__c']}" id="lookup{!res.objSObject['Property__c']}00Na000000AnWmP" onblur="LookupHoverDetail.getHover('lookup{!res.objSObject['Property__c']}00Na000000AnWmP').hide();" onfocus="LookupHoverDetail.getHover('lookup{!res.objSObject['Property__c']}00Na000000AnWmP', '/{!res.objSObject['Property__c']}/m?isAjaxRequest=1&amp;nocache=1381399497303').show();" onmouseout="LookupHoverDetail.getHover('lookup{!res.objSObject['Property__c']}00Na000000AnWmP').hide();" onmouseover="LookupHoverDetail.getHover('lookup{!res.objSObject['Property__c']}00Na000000AnWmP', '/{!res.objSObject['Property__c']}/m?isAjaxRequest=1&amp;nocache=1381399497303').show();">{!res.objSObject['Property__r.Name']}</a>					                                                		
						                                                		</apex:outputpanel>
						                                                		<apex:outputpanel rendered="{!IF(f1.label == 'Inventory Name', true, false)}">
																					<a href="/{!res.objProductId}" id="lookup{!res.objProductId}00Na000000AnWmP" onblur="LookupHoverDetail.getHover('lookup{!res.objProductId}00Na000000AnWmP').hide();" onfocus="LookupHoverDetail.getHover('lookup{!res.objProductId}00Na000000AnWmP', '/{!res.objProductId}/m?isAjaxRequest=1&amp;nocache=1381399497303').show();" onmouseout="LookupHoverDetail.getHover('lookup{!res.objProductId}00Na000000AnWmP').hide();" onmouseover="LookupHoverDetail.getHover('lookup{!res.objProductId}00Na000000AnWmP', '/{!res.objProductId}/m?isAjaxRequest=1&amp;nocache=1381399497303').show();">{!res.objSObject['Name']}</a>					                                                		
						                                                		</apex:outputpanel>
						                                                		<apex:outputfield style="width:0%" value="{!res.objSObject[f1]}" rendered="{!IF(AND(f1.label != 'Inventory Name', f1.label != 'Property Name', f1.label != 'Inventory Type'), true, false)}"/>						                                                		
						                                                	</td> 
					                                                	</apex:repeat>
					                                                	<td width="140px;">
		                                                    				<input type = "hidden" id ="hiddenIdStartOrEnd" name="StartOrEnd" value=""/>
					                                                		<apex:inputField id="idStartDateInput" value="{!res.objSObject['Start_Date__c']}" onclick="storePreviousDateValue(this.id);" onchange="validateDatesOnOpportunity(this.id, '{!$Component.idEndDateInput}','{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}','StartDate'); updateTotals('{!$Component.idRateType}','{!$Component.quantity}','{!$Component.idAmount}','{!$Component.idTotalAmount}', '{!$Component.colTotal}', this.parentNode.parentNode, '{!$Component.idGrandTotal}', '{!res.objSObject['Availability__c']}', '{!res.intOLITotalQuantity}', '{!$Component.idStartDateInput}', '{!$Component.idEndDateInput}', '{!$Component.idNumberOfDays}', '{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}', '{!res.objProductId}+z', '{!$Component.idHdnNumOfDays}');"/>
					                                                	</td>
					                                                	<td width="140px;"> 					                                                	 
					                                                		<apex:inputField id="idEndDateInput" value="{!res.objSObject['End_Date__c']}" onclick="storePreviousDateValue(this.id);" onchange="validateDatesOnOpportunity('{!$Component.idStartDateInput}', this.id,'{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}','EndDate'); updateTotals('{!$Component.idRateType}','{!$Component.quantity}','{!$Component.idAmount}','{!$Component.idTotalAmount}', '{!$Component.colTotal}', this.parentNode.parentNode, '{!$Component.idGrandTotal}', '{!res.objSObject['Availability__c']}', '{!res.intOLITotalQuantity}', '{!$Component.idStartDateInput}', '{!$Component.idEndDateInput}', '{!$Component.idNumberOfDays}', '{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}', '{!res.objProductId}+z', '{!$Component.idHdnNumOfDays}');"/>
					                                                	</td>
					                                                	
					                                                	<td width="25px;" text-align="center">
																			<apex:inputhidden id="idHdnNumOfDays" value="{!res.numberOfDays}"/>
					                                                		<apex:outputText id="idNumberOfDays" style="text-align:right;" value=""/>
					                                                		<script>
					                                                			document.getElementById('{!$Component.idNumberOfDays}').innerHTML = document.getElementById('{!$Component.idHdnNumOfDays}').value;
					                                                		</script>
					                                                	</td>
					                                                	<td>
					                                                		<apex:outputField id="idRateType" value="{!res.objSObject['Rate_Type__c']}" />
					                                                	</td>
					                                                	<td style="width:50px;">
					                                                		<apex:inputText id="quantity" value="{!res.intQuantity}" style="width:50px; padding: 0px" onKeyPress="return isNumberKey(event);" onKeyUp="updateTotals('{!$Component.idRateType}','{!$Component.quantity}','{!$Component.idAmount}','{!$Component.idTotalAmount}', '{!$Component.colTotal}', this.parentNode.parentNode, '{!$Component.idGrandTotal}', '{!res.objSObject['Availability__c']}', '{!res.intOLITotalQuantity}', '{!$Component.idStartDateInput}', '{!$Component.idEndDateInput}', '{!$Component.idNumberOfDays}', '{!objOpportunity.Commencement_Date__c}', '{!objOpportunity.Expiration_Date__c}', '{!res.objProductId}+z', '{!$Component.idHdnNumOfDays}', '{!res.objSObject['Availability__c']}');">
				                                                			</apex:inputText>
					                                                	</td>
					                                                	<td width="60px;">
					                                                		$<apex:outputText id="idAmount" value="{!res.intAmount}" />
					                                                	</td>
					                                                	<td>
					                                                		$<apex:inputText id="idTotalAmount" style="width:80%;" value="{!res.intTotalAmount}" onKeyUp="calculateGrandTotals();"/> 
					                                                	</td>
					                                                </tr>
				                                                </apex:repeat>
				                                            </tbody>
				                                    </table>
				                                    
				                                </apex:outputPanel>
			                                        <apex:outputPanel rendered="{!if(lstWrapperSelected.size == 0 ,true, false)}">
				                                        <b><apex:outputText value="No Records selected"/></b>
				                                    </apex:outputPanel>
			                                        
			                                        <script>
			                                            
			                                            function validateDates(StartDate, productId, EndDate)
														{
															var dtStartUserInput = new Date(StartDate.value);
															var dtEndUserInput = new Date(EndDate.value);
															var dtDB = document.getElementById(productId).value;
															dtDB = dtDB.substr(0,10);
															dtDB = dtDB.replace(/-/g,'/');
															var varDt = new Date(dtDB);
															if(dtStartUserInput < varDt || dtEndUserInput > varDt)
															{
																alert('Please Enter dates between Opportunity Commencement and  Expiration dates.');
																
																var varStart = new Date('{!dtStartDate}'); 
																varStart = [varStart.getMonth()+1, varStart.getDate(), varStart.getFullYear()].join('/');
																
																var varEnd = new Date('{!dtEndDate}');
																varEnd = [varEnd.getMonth()+1, varEnd.getDate(), varEnd.getFullYear()].join('/');
																StartDate.value = varStart;
																EndDate.value = varEnd;
															}
														}
			                                            
			                                        	function calculateGrandTotals()
			                                            {
			                                            	var objSelectedTable = document.getElementById('idTable2');
			                                            	if(objSelectedTable != null)                                
			                                            	{
			                                            		var grandTotal = 0.0;
			                                            		for(var i = 1; i < objSelectedTable.getElementsByTagName('tr').length; i++  )
			                                            		{
			                                            			var row = objSelectedTable.getElementsByTagName('tr')[i];
			                                            			grandTotal += parseFloat(row.getElementsByTagName('td')[row.getElementsByTagName('td').length-1].getElementsByTagName('input')[0].value);
			                                            		}
			                                            		displayGrandTotal.innerHTML = grandTotal.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			                                            		
			                                            		hidGrandTotal.value = grandTotal.toFixed(2);                                            			                                            		
			                                            	}            	                                            	
			                                            }
			                                            
			                                        </script>
			                                </apex:pageBlock>
				                            	
			                                <table style="width:100%">
			                                    <tr>
			                                        <td style="text-align:right;">
			                                            <apex:outputLabel rendered="{!if(lstWrapperSelected.size > 0, true, false)}" style="font-weight:bold;align:right;" value="Total Contract Amount : $" for="idGrandTotal"/>
			                                            <apex:outputText id="idGrandTotal" rendered="{!if(lstWrapperSelected.size > 0 , true, false)}" style="font-weight:bold;text-align:right;" value="{!dblGrandTotal}"/>
			                                           	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			                                           	<script>
			                                            	var displayGrandTotal = document.getElementById('{!$Component.idGrandTotal}');
			                                            </script>
			                                            <apex:inputHidden id="hidGrandTotal" value="{!dblGrandTotal}"/>
			                                            <script>
			                                            	var hidGrandTotal = document.getElementById('{!$Component.hidGrandTotal}');
			                                            	calculateGrandTotals();
			                                            </script>
			                                        </td>
			                                        <td>
			                                        </td>
			                                    </tr>
			                                </table>
			                            </apex:outputPanel>
			                        </div>
			                    </td>
			                </tr>
			            </table>
			        </apex:outputPanel>
		        </td>
	        </tr>
        </table>
        
        <div id="idPanel"/>       
        <apex:outputPanel rendered="{!IF(strJson != '', true,false)}">
        
        <script type='text/javascript'>
            window.onload = function() 
            {
                ///on load date picker was generated, so to avoid focus on a dummy panel on load
                document.getElementById('idPanel').focus();
                
                $("#tree1").dynatree("getRoot").visit(function(nodeProperty){
                    nodeProperty.expand(false);
                 });
                  
               	$("#tree2").dynatree("getRoot").visit(function(nodeCategory){
               	nodeCategory.expand(false);
             		});
             		
             	resizeSelectedTable();
            }
            
            
            $(function()
            {
                // Attach the dynatree widget to an existing <div id="tree"> element
                // and pass the tree options as an argument to the dynatree() function:
                //console.log("STRJSON -----> ", strJson);
                $("#tree1").dynatree({
                    onActivate: function(nodeProperty)
                    {
                    // Note: we also get this event, if persistence is on, and the page is reloaded.
                    },
                    persist: false,
                    checkbox: true,        
                    generateIds: false,
                    classNames: {
                    checkbox: "dynatree-checkbox",
                    expanded: "dynatree-expanded",
                    },
                    selectMode: 3,
                    children: {!strJson},
                    onSelect: function(selectProperty, nodeProperty) 
                    {
                        // Get a list of all selected nodes, and convert to a key array:
                        SelectedValueIds = '';
                        var selKeysProperty = $.map(nodeProperty.tree.getSelectedNodes(), function(nodeProperty){return nodeProperty.data.Id;});
                        for(var i = 0; i < selKeysProperty.length ; i++)
                        {  
                            SelectedValueIds += selKeysProperty[i] + ';';
                        }
                    }         
                });
                      $("#btnExpandAllProperty").click(function(){
                  $("#tree1").dynatree("getRoot").visit(function(nodeProperty){
                    nodeProperty.expand(true);
                  });
                  return false;
                });
                $("#btnCollapseAllProperty").click(function(){
                  $("#tree1").dynatree("getRoot").visit(function(nodeProperty){
                    nodeProperty.expand(false);
                  });
                  return false;
                });
              });
                 
                 
             $(function()
             {
                 // Attach the dynatree widget to an existing <div id="tree"> element
                 // and pass the tree options as an argument to the dynatree() function:
                 $("#tree2").dynatree({
                     onActivate: function(nodeCategory)
                     {
                     // A DynaTreeNode object is passed to the activation handler
                     // Note: we also get this event, if persistence is on, and the page is reloaded.
                     },
                     persist: false,
                     checkbox: true,        
                     generateIds: false,
                     classNames: {
                     checkbox: "dynatree-checkbox",
                     expanded: "dynatree-expanded"
                     },
                     selectMode: 3,
                     children: {!strJsonCategory},
                     onSelect: function(selectCategory, nodeCategory) 
                     {
                         // Get a list of all selected nodes, and convert to a key array:
                         SelectedValueIdsCategory = '';
                         SelectedValueIdsCategoryName = '';
                         var selKeysCategory = $.map(nodeCategory.tree.getSelectedNodes(), function(nodeCategory){return nodeCategory.data.Id;});
                         var selKeysCategoryName = $.map(nodeCategory.tree.getSelectedNodes(), function(nodeCategory3){return nodeCategory3.data.Category;});
                         for(var i = 0; i < selKeysCategory.length ; i++)
                         {  
                             SelectedValueIdsCategory += selKeysCategory[i] + ';';
                         }
                         
                         for(var i = 0; i < selKeysCategoryName.length ; i++)
                         {  
                             SelectedValueIdsCategoryName += selKeysCategoryName[i] + ';';
                         }
                     }            
                 });
                  $("#btnExpandAll").click(function(){
              $("#tree2").dynatree("getRoot").visit(function(nodeCategory){
                nodeCategory.expand(true);
              });
              return false;
            });
            $("#btnCollapseAll").click(function(){
              $("#tree2").dynatree("getRoot").visit(function(nodeCategory){
                nodeCategory.expand(false);
              });
              return false;
            });
            
              });
              
               function resizeSelectedTable()
               {
               		var myWidth = document.getElementById('{!$Component.selectedpgId}').offsetWidth;
               		myWidth = myWidth - 20; 
               		var data = myWidth - 5;
               		
	               $('.sfhtData').each(function(){              	
	              	$(this).css('width', data);
	               });
	              
	              $('.sfhtTable .sfhtHeader').each(function(){                            	
	              	$(this).css('width', myWidth);
	              });
	              
	              if(document.getElementById('totalAmountHeader') != null)
	              {	              	
		              var totalAmntCol = document.getElementById('totalAmountHeader').style.width;
		              totalAmntCol = totalAmntCol.replace('px', '');
		              var intWidth = parseInt(totalAmntCol);		              		              
		              document.getElementById('totalAmountHeader').style.width = (intWidth + 20) + 'px' ;
		          } 
               }
                                            
              
            </script>    
            <script>
                $('#idTable2_header .headerRow td').css('width', '160px');
                $('#idTable2 td span').css('display', 'inline-block');
                $('#idTable2 td span').css('width', '160px');
            </script>
        </apex:outputPanel>       
    </apex:form>

</apex:page>