	body .bPageBlock, body #bodyCell .bResource .secondaryPalette, 
	body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, 
	body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, 
	body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, 
	body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, 
	body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock 
	{
		background-color: rgb(248, 248, 248);
		border-bottom: 1px solid rgb(234, 234, 234);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: rgb(234, 234, 234);
		border-left: 1px solid rgb(234, 234, 234);
		border-left-width-value: 1px;
		border-left-style-value: solid;
		border-left-color-value: rgb(234, 234, 234);
		border-left-width-ltr-source: physical;
		border-left-width-rtl-source: physical;
		border-left-style-ltr-source: physical;
		border-left-style-rtl-source: physical;
		border-left-color-ltr-source: physical;
		border-left-color-rtl-source: physical;
		border-right: 1px solid rgb(234, 234, 234);
		border-right-width-value: 1px;
		border-right-style-value: solid;
		border-right-color-value: rgb(234, 234, 234);
		border-right-width-ltr-source: physical;
		border-right-width-rtl-source: physical;
		border-right-style-ltr-source: physical;
		border-right-style-rtl-source: physical;
		border-right-color-ltr-source: physical;
		border-right-color-rtl-source: physical;
		border-radius: 4px 4px 4px 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
        
	.pageDescription 
	{
		margin-left: 37px;
		margin-left-value: 37px;
		margin-left-ltr-source: physical;
		margin-left-rtl-source: physical;
		font-size: 1.8em;
		font-weight: normal;
		line-height: 1.1em;
	}
        
	.pageType 
	{
		font-size: 0.9em;
		font-weight: bold;
		color: rgb(74, 74, 86);
		padding-left: 1px;
	}
	
	body .bPageTitle 
	{
		padding: 15px 0px 0px;
		padding-top: 15px;
		padding-right-value: 0px;
		padding-bottom: 0px;
		padding-left-value: 0px;
		padding-left-ltr-source: physical;
		padding-left-rtl-source: physical;
		padding-right-ltr-source: physical;
		padding-right-rtl-source: physical;
	}
	
	.pageTitleIcon 
	{
		background-image: url("/img/sprites/master.png");
		background-position: 0px -1238px;
		width: 32px;
		height: 32px;
	}
	
	.pbHeader 
	{
		border-bottom: 1px solid rgb(255, 255, 255);
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: rgb(255, 255, 255);
		padding: 0px;
		padding-top: 0px;
		padding-right-value: 0px;
		padding-bottom: 0px;
		padding-left-value: 0px;
		padding-left-ltr-source: physical;
		padding-left-rtl-source: physical;
		padding-right-ltr-source: physical;
		padding-right-rtl-source: physical;
	}
	
	.dataCol 
	{
		border-right-color: transparent;
		border-right-color-value: transparent;
		border-right-color-ltr-source: physical;
		border-right-color-rtl-source: physical;
	}
	
	.pbBody, body .bPageBlock .pbBottomButtons 
	{
		background-color: transparent;
		background-image: none;
		margin: 0px;
		margin-top: 0px;
		margin-right-value: 0px;
		margin-bottom: 0px;
		margin-left-value: 0px;
		margin-left-ltr-source: physical;
		margin-left-rtl-source: physical;
		margin-right-ltr-source: physical;
		margin-right-rtl-source: physical;
	}
	
	.hoverTable
	{   
		background-color:#FFFFFF;           
		border-width: 1px;
		border-style: solid;
		border-color: grey;
		z-index: 9999;        
		padding:2px;
		width: 150px;
		/*width: 95%;*/                
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-khtml-border-radius: 10px;
		border-radius: 10px;
		top:0px;
		left:0px; 
	}
	
	.myTable 
	{
		border:1;
		font-size: 12px;
		table-layout:fixed;
		width:100%; 
	}
	
	.myTable td 
	{
		background-color: WHITE;
	}
	
	.myTable .header th 
	{
		border-right:1px solid #BFCFD4;
		font-size:11px;
		font-weight:bold;
		background:#EDF8FC;  
		background: -moz-linear-gradient(top, #EDF8FC 0%, #D0EEF8 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDF8FC), color-stop(100%,#D0EEF8));
		background: -webkit-linear-gradient(top, #EDF8FC 0%,#D0EEF8 100%);
		background: -o-linear-gradient(top, #EDF8FC 0%,#D0EEF8 100%);
		background: -ms-linear-gradient(top, #EDF8FC 0%,#D0EEF8 100%);
		background: linear-gradient(top, #EDF8FC 0%,#D0EEF8 100%);
		border-bottom:1px solid #BFCFD4;
		border-top:1px solid #BFCFD4;
	}
	
	.headerClass1
	{
		text:align : right;
	}
	
	.headerClass2
	{
		padding: 0px;
		padding-top: 0px;
		padding-right-value: 0px;
		padding-bottom: 0px;
		padding-left-value: 0px;
		padding-left-ltr-source: physical;
		padding-left-rtl-source: physical;
		padding-right-ltr-source: physical;
		padding-right-rtl-source: physical;
	}